<div  x-data="{ viewMode : '3D' , delta : 'delta', bricks : 'brick_brown' , refresh : false }" x-init="$watch('bricks', value => {
    $refs.bricks.value = value ;
    $refs.bricks.dispatchEvent(new Event('change'));
})" >
<input type="hidden" x-ref="bricks" name="bricks" id="brickSelect" x-model="bricks" />
    {{ collection:types slug:is="gh2" }}
        <div x-data="{ open: false }"  class="flex fixed z-40 top-0 right-0 h-12  p-6  flex-row justify-end gap-6 " >
            <div class="h-12 w-auto grid grid-flow-col row-auto justify-end items-center gap-6 ">
                <div class="relative h-12 w-48 text-sm font-semibold select-none" x-data="{ level : '03' , open : false }" x-init="$watch('level', value => {
                    $refs.level.value = value ;
                    $refs.level.dispatchEvent(new Event('change'));
                })"     
                    >
                    <div @click="open = ! open"  class="h-full w-full flex flex-row items-center justify-start bg-white border-2 border-primary shadow-lg rounded-lg overflow-hidden select-none">
                        <input type="hidden" x-ref="level" class="hidden" id="levelSelect" />
                        <div class="flex flex-col items-center justify-center h-12 w-12 min-w-[48px]  bg-primary text-white">
                            <i class="fa-solid fa-layer-group text-xl"></i>
                        </div>
                        <input type="checkbox" class="hidden" id="loadingLevel" />
                        <span class="px-2"  x-ref="label" >Volledige woning</span>
                        <i  :class="open ? 'rotate-180' : '' " class="fa-solid fa-caret-down text-primary font-lg transform transition-transform ml-auto mr-2"></i>
                    </div>
                    <div x-show="open" x-transition @click="open = false , viewMode = '3D'" @click.outside="open = false" class="absolute top-14 w-full border-2 border-primary rounded-lg overflow-hidden shadow-md bg-white">
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="level== 'bg' ? 'bg-primary text-white' : '' " @click="level = 'bg', $refs.label.innerHTML = $el.innerHTML">Begane grond</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="level == '01' ? 'bg-primary text-white' : '' " @click="level = '01', $refs.label.innerHTML = $el.innerHTML ">1e verdieping</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="level == '02' ? 'bg-primary text-white' : '' " @click="level = '02', $refs.label.innerHTML = $el.innerHTML ">2e verdieping</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="level == '03' ? 'bg-primary text-white' : '' " @click="level = '03', $refs.label.innerHTML = $el.innerHTML ">Volledige woning</div>
                    </div> 
                </div> 
                <div class="relative h-12 w-48 font-semibold text-sm select-none" x-data="{ viewpoint : 'Buiten' , open : false }" x-init="$watch('viewpoint', value => { 
                    $refs.viewpoint.value = value ;
                    $refs.viewpoint.dispatchEvent(new Event('change'));
                })"     
                    >
                    <div @click="open = ! open"  class="h-full w-full flex flex-row items-center bg-white border-2 border-primary shadow-lg rounded-lg overflow-hidden select-none">
                        <select x-ref="viewpoint" class="hidden" id="CameraSelect"></select>
                        <div class="flex flex-col items-center justify-center h-12 w-12 bg-primary text-xl text-white">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                        <span x-text="viewpoint" class="px-2" ></span>
                        <i :class="open ? 'rotate-180' : '' " class="fa-solid fa-caret-down text-primary font-lg transform transition-transform ml-auto mr-2 "></i>                               
                    </div>
                    <div x-show="open" x-transition @click="open = false , viewMode = '3D'" @click.outside="open = false" class="absolute top-14 w-full border-2 border-primary rounded-lg overflow-hidden shadow-md bg-white">
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="viewpoint == 'Buiten' ? 'bg-primary text-white' : '' " @click="viewpoint = 'Buiten' ">Buiten</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="viewpoint == 'Boven' ? 'bg-primary text-white' : '' " @click="viewpoint = 'Boven' ">Boven</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="viewpoint == 'Overloop' ? 'bg-primary text-white' : '' " @click="viewpoint = 'Oprit' ">Oprit</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="viewpoint == 'Woonkamer' ? 'bg-primary text-white' : '' " @click="viewpoint = 'Woonkamer' ">Woonkamer</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="viewpoint == 'Overloop' ? 'bg-primary text-white' : '' " @click="viewpoint = 'Overloop' ">Overloop</div>
                    </div> 
                </div>
                <div class="relative h-12 w-48 font-semibold text-sm select-none" x-data="{ lightgroup : 'Middag' , open : false }" x-init="$watch('lightgroup', value => { 
                    $refs.lightgroup.value = value ;
                    $refs.lightgroup.dispatchEvent(new Event('change'));
                })"     
                    >
                    <div @click="open = ! open"  class="h-full w-full flex flex-row items-center bg-white border-2 border-primary shadow-lg rounded-lg overflow-hidden select-none">
                        <input type="hidden" x-ref="lightgroup" class="hidden" id="lightgroupSelect"/>
                        <div class="flex flex-col items-center justify-center h-12 w-12 bg-primary text-white">
                            <i class="fa-solid fa-sun text-xl"></i>
                        </div>
                        <span class="px-2"  x-text="lightgroup"></span>
                        <i :class="open ? 'rotate-180' : '' " class="fa-solid fa-caret-down text-primary font-lg transform transition-transform ml-auto mr-2"></i>
                    </div>
                    <div x-show="open" x-transition @click="open = false , viewMode = '3D'" @click.outside="open = false" class="absolute top-14 w-full border-2 border-primary rounded-lg overflow-hidden shadow-md bg-white">
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="lightgroup== 'Ochtend' ? 'bg-primary text-white' : '' " @click="lightgroup = 'Ochtend' ">Ochtend</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="lightgroup == 'Middag' ? 'bg-primary text-white' : '' " @click="lightgroup = 'Middag' ">Middag</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="lightgroup == 'Avond' ? 'bg-primary text-white' : '' " @click="lightgroup = 'Avond' ">Avond</div>
                        <div class="p-2 bg-white hover:bg-primary/30 transition-colors" :class="lightgroup == 'Nacht' ? 'bg-primary text-white' : '' " @click="lightgroup = 'Nacht' ">Nacht</div>
                    </div> 
                </div>                 
                <div class="h-12 flex flex-row items-center justify-arround bg-white border-2 border-primary shadow-lg rounded-lg select-none"  @click="viewMode == '2D' ? viewMode = '3D' : viewMode = '2D'   ">
                    <div :class="viewMode == '2D'  ? 'bg-primary text-white' : 'text-gray-500 ' " class="w-12 h-full text-center font-bold flex flex-col justify-center transition-colors"  >
                        2D
                        </div>
                        <div :class="viewMode == '3D'  ? 'bg-primary text-white' : 'text-gray-500 ' " class="w-12 h-full text-center font-bold flex flex-col justify-center transition-colors"  >
                        3D
                        </div>  
                </div>
                <div x-show="refresh" x-transition 
                @click="
                    $refs.delta.value = delta+'.json' ;
                    $refs.delta.dispatchEvent(new Event('change'));
                    refresh = false;
                "
                class="fixed top-0 left-0 w-full h-full bg-white/80 flex flex-col items-center justify-center  ">
                    <div class="p-2 w-64 h-64 text-2xl font-bold flex flex-col justify-center items-center text-center bg-white border-4 border-primary shadow-lg rounded-full select-none">
                        Bekijk wijzigingen
                    </div>
                </div>
                <input type="hidden" x-ref="delta" name="delta" id="deltaSelect" x-model="delta" />
                
            </div>
            <div x-data="{active : false , parameter : 'none'}" :class="open ? ' h-[calc(100vh-120px)]' : 'h-12' "  class="relative w-[512px] box-content transition-all transform-gpu " 
            x-init="$watch('active', value => {
                if(value){  
                    $refs.container.scrollTo({top:0});
                }
            })"
            >
                <div @click="open = ! open" :class="open ? 'rotate-180' : '' " class="h-6 w-6 flex flex-col items-center justify-center z-50 absolute ml-[50%] transform translate-x-[-50%] top-0 mt-12 translate-y-[-60%] rounded-full border-2 border-white bg-primary transition-transform" >
                    <i class=" fa-solid fa-caret-down text-white font-xl"></i>
                </div>
                <div
                :class="open ? 'pb-12' : ''"class="relative w-full h-full border-2  border-primary bg-white rounded-lg shadow-lg overflow-hidden select-none">
                    <div @click="open = ! open" class="h-12 w-full border-b-2 border-white px-4 flex flex-row items-center justify-between font-bold text-white bg-primary">
                        <span>Ontwerp jouw GH2!</span>
                        <span class="text-right" >€ 400.000</span>
                    </div>
                    <div x-ref="container" :class="active  ? 'transform translate-x-[-512px]' : '' " class="relative w-[calc(1024px+32px)] h-full flex flex-row transition-transform  overflow-x-hidden ">
                        <div class="w-[512px]">
                            <div class="w-full h-12 p-4 flex flex-row items-center justify-between">
                                <div class="w-2/6">
                                    Uitvoering
                                </div>
                                <div class="w-3/6">
                                    Schildkap klassiek
                                </div>
                                <div class="w-2/6 text-right">
                                    € 42.190
                                </div>
                            </div>
                            {{ configuration }}
                            <div class="sticky top-0 z-40 p-4 font-bold bg-primary text-white">
                                {{ group }}
                            </div>
                            <div class="p-4" >
                                {{ parameters }}
                                <div @click="active = true , parameter = '{{ parameter | camelize }}'"  class="w-full p-4 mb-4 last:mb-0 flex flex-row items-center justify-between border-2 border-primary bg-white rounded-md hover:bg-primary hover:text-white transition-colors transform-gpu
                                "
                                x-ref="{{ parameter | camelize }}"
                                >
                                    <div class="w-2/6">
                                        {{ parameter }}
                                    </div>
                                    <div class="w-3/6" x-ref="{{ parameter | camelize }}_val">
                                        {{ values.0.val }}
                                    </div>
                                    <div class="w-2/6 text-right"  x-ref="{{ parameter | camelize }}_price">
                                        € {{ values.0.price }}
                                    </div>
                                </div>   
                                {{ /parameters }}
                            </div>
                            {{ /configuration }}
                        </div>
                        <div class=" relative w-[512px] h-full bg-white">
                        {{ configuration }}            
                            {{ parameters }}
                                <div x-show="parameter == '{{ parameter | camelize }}'"  @click="active = false , $refs.{{ parameter | camelize }}.animate(valUpdated,valUpdatedTiming)">
                                <div class="sticky top-0 z-40 flex flex-row items-center justify-between h-12 bg-white px-4 font-bold text-primary border-b-2 border-primary ">
                                    {{ group }} | {{ parameter }}
                                </div>
                                <div class="p-4">
                                    {{ values }}
                                        <label 
                                        {{ if delta }} 
                                            {{if delta | contains_any:brick }}
                                                @click="if (bricks != '{{ delta }}'){ 
                                                    bricks = '{{ delta }}';
                                                }" 
                                            {{ else }}
                                                @click="if (delta != '{{ delta }}'){ delta = '{{ delta }}'; refresh = true; }" 
                                            {{ /if }}
                                        {{ /if }}
                                        for="{{ val | camelize }}" class="group relative flex flex-row items-center justify-between mb-4 border-2 border-primary bg-primary text-white rounded-xl overflow-hidden" >
                                            {{ if img }}
                                            <img class="h-32 w-32 object-cover " src="{{ img:url }}" />
                                            {{ /if }}
                                            <div class="flex-grow p-4 flex {{ img ? 'flex-col' : 'flex-row items-center justify-start' }}" > 
                                                <div class="relative w-6 h-6 p-0.5 bg-white rounded-full" >
                                                    <input 
                                                        @change="
                                                            $refs.{{ parameter | camelize }}_val.innerHTML = '{{ val }}' , 
                                                            $refs.{{ parameter | camelize }}_price.innerHTML = '€ {{ price format_number=" 2|,|. "  }} '
                                                        "
                                                        id="{{ val | camelize }}" type="radio" name="{{ parameter | camelize }}" value="{{ val }}" 
                                                        class="peer hidden"
                                                        {{ first ? 'checked' : '' }}
                                                        >
                                                    </input>
                                                    <div class="hidden peer-checked:flex flex-col items-center justify-center">
                                                        <i class="fa-solid fa-circle-check text-primary text-xl"></i>
                                                    </div>                                
                                                </div>
                                                <div class="{{ img ? 'pt-4' : 'px-4' }}" >
                                                    {{ val }} 
                                                </div>
                                                <div class="ml-auto text-right" >€ {{ price format_number=" 2|,|. "  }} </div>
                                            </div>
                                        </label>
                                    {{ /values }}
                                </div>
                                </div>
                            {{ /parameters }}  
                        {{ /configuration }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {{ /collection:types }}   


    
    <div  class="fixed top-0 right-0 w-full h-full">
        <canvas id="renderTarget" class="renderTarget h-full w-full"></canvas>
    </div>
    
    
    <div x-show="viewMode == '2D' " x-transition class="fixed z-20 top-0 right-0 w-full h-full bg-white">
        <img id="panzoom"  src="/assets/plans/Hoofdgebouw_1.png"/>
    </div>

    <div  class="fixed right-6 bottom-6 flex flex-col items-center justify-center h-12 w-[512px] bg-primary font-bold text-white rounded-lg shadow-md">
       Maak een afspraak
    </div>

</div>