<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <script type="text/javascript" src="js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>
        <script>
            const valUpdated = [
            { transform: 'scale(1)' , background : '' , color : 'black'},
            { transform: 'scale(1.1)', background : '#0099cc' , color : 'white'},
            { transform: 'scale(1)', background : '' , color : 'black'},
            ];

            const valUpdatedTiming = {
            delay: 1,
            duration: 800,
            iterations: 1,
            }
            
        </script>
        <script src="https://kit.fontawesome.com/c11739577d.js" crossorigin="anonymous"></script>
    </head>
    <body x-data="" class="block relative p-6 w-screen h-screen font-primary font-medium bg-white" >
        <img class="fixed left-0 top-0 w-full h-full object-cover " src="/assets/loadscreen.png"/>
        <div x-ref="loading" id="loadingScreen" class="w-full h-full">
            <div  class="fixed z-50 w-full h-full top-0 left-0 flex flex-col items-center justify-center bg-white/80 backdrop-blur-sm  ">         
                <div class="text-primary animate-bounce  ">
                    <i class="fa-solid fa-screwdriver-wrench text-8xl  "></i>
                </div>      
            </div>    
        </div>
        {{ template_content }}
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
