@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base{

    @font-face {
        font-family: "poppins";
        font-weight:400;
        src: url("/fonts/PoppinsLatin-Regular.otf") format("opentype") ;
      }
      @font-face {
        font-family: "poppins";
        font-weight:500;
        src: url("/fonts/PoppinsLatin-Medium.otf") format("opentype") ;
      }
      @font-face {
        font-family: "poppins";
        font-weight:600;
        src: url("/fonts/PoppinsLatin-SemiBold.otf") format("opentype") ;
      }
      @font-face {
        font-family: "poppins";
        font-weight:700;
        src: url("/fonts/PoppinsLatin-Bold.otf") format("opentype") ;
      }

}